.repo-container {
    width: 100%;
    margin: 0;
    text-align: center;
}

.btn-container {
    width: 100%;
    margin: 10px 0px;
    display: inline-block;
}

.btn-options,
.btn-options:focus,
.btn-options:active {
    display: inline-block;
    margin: 0px 5px;
    background: var(--light);
    color: var(--primary);
    text-decoration: none;
    padding: 3px;
    cursor: pointer;
    border: 1px solid var(--primary);
    border-radius: 3px;
    height: 27px;
}
.btn-options:hover {
    background: var(--primary);
    color: var(--light);
    border: 1px solid var(--light);
    cursor: pointer;
}

.content-container {
    width: 100%;
    margin: 0;
}